* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    font-size: 15pt;
    background-color: azure;
    display: flex;
    flex-direction: column;
    height: 100%;
margin: 0;
}

html {
    height: 100%;
    margin: 0;
}

.nav {
    background-color: black;
    padding: 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0,0.15);
}

.ul_nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    list-style: none;
    gap: 15px;
    position: relative;
    
    
}

.ul_nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

.ul_nav a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left:0;
    width: 100%;
    height: 3px;
    background-color: gold;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s ease-in-out;
}


.ul_nav a:hover::after {
    transform: scaleX(1);
}

/*estructura del Swiper*/

.swiper {
  width: 100%;
  height: 250px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* parte de la información después del swider asi como animación de las imágenes*/

.info1 .info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 10px;
}
    



.img-info {
    height: 90%;
    width: 90%;
    margin: 20px;
    border-radius: 20px;
    background-color: yellowgreen;
}

.imagen_info {
    display: flex;
    align-items: Center;
    justify-content:center;
    width: 90%;
    height: 80%;
    background-color: #cbc;
    margin:20px;
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px) rotateX(45deg) scale(0.7);
    box-shadow: 0 25px 50px rgba(100, 120,150, .3),inset 0 -4px 8px rgba(255, 255, 255, 0.6);
    transition: transform 0.5s ease, box-shadow 0.5s ease; 
}

.imagen_info:hover {
    transform: rotateX(0deg) scale(1) translateY(-10px);
    box-shadow: 0 35px 70px rgba(80, 100, 130, .35),inset 0 -6px 10px rgba(255, 255, 255,0.7);
}

/* parte div info*/

.div_info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_info {
    margin:20px;
    border: 3px solid lightgray;
    box-shadow: 0 5px 8px 3px lightcyan;
    border-radius: 20px;
    padding: 26px;
}


/* parte del carpusel*/

.carousel {
margin: 0px;
width: 100%;
border: 5px solid seashell;
display: flex;
overflow-x: auto;
gap: 1em;
background-color: seashell;
}

.carousel::-webkit-scrollbar {
    display:none;
    
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 14s infinite linear;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 5em;
    width: 80%;
    height: 5em;
    padding: 1em;

    background-color: snow;
    font-size: 3rem;
    text-align: center;

    border-radius: 20px;
    cursor: pointer;

    transform: perspective(800px) rotateX(45deg) scale(0.7);
    box-shadow: 
        0 25px 50px rgba(100, 120, 150, .3),
        inset 0 -4px 8px rgba(255, 255, 255, 0.6);

    transition: transform 0.5s ease, box-shadow 0.5s ease;
}


.card:hover {
    transform: rotateX(0deg) scale(1) translateY(-10px);
    box-shadow: 0 35px 70px rgba(80, 100, 130, .35),inset 0 -6px 10px rgba(255, 255, 255,0.7);
}



.img-carousel{
    border-radius: 30px;
    background-color: snow;
    overflow: hidden;

    width: 100%;
    height: 100%;
    object-fit: cover;

    -webkit-mask-image: radial-gradient(
        ellipse at center,
        black 70%,
        transparent 100%
    );

    mask-image: radial-gradient(
        ellipse at center,
        black 70%,
        transparent 100%
    );
}
    
    




@keyframes spin {
    from {translate:0;}
    to {translate: -100%;}
}



.footer {
    margin-top: auto;
    background-color: mediumturquoise;
}

.informacion_general {
    margin: 20px 30px 30px 10px;
}




.img-info {
    height: 90%;
    width: 90%;
    margin: 20px;
    border-radius: 20px;
    background-color: yellowgreen;
}


